*{
	/* Universal reset: */
	margin:0;
	padding:0;
    box-sizing: border-box;

}

header,footer,
article,section,
hgroup,nav{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	background-color: #00FFEF;
	/*background-color:#F25360;
*/	font-family:Arial, Helvetica, sans-serif;
	min-width: 100px;
}

/* Hyperlink Styles: */

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,roboto,Sans-Serif;
	text-shadow:0 1px 1px white;
}

h1{
	/* The logo text */
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
}

h3{
	/* The slogan text */
	font-family:forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}
.form{
    min-width: 100px;
    max-width: 450px;
    padding: 50px;
    border-radius: 20px 20px 20px 0;
    position: relative;
}
form .form-group{
    margin-bottom: 30px;
}

form .form-group label{
	font-size: 18px;
    display: block;
    font-weight: 700;
}

form .form-group textarea{
	width:100%;
    height: 200px;
    border: none;
    background-color: rgb(237, 242, 247);

}

form .form-group input, .form-group select{
    width:100%;
    height: 50px;
    padding: 10px
    font-size: 14px;
    border: none;
     background-color: rgb(237, 242, 247);

}

form .submit button{
    width: 100%;
    background-color: #00FFEF;
    color: black;
    text-transform: uppercase;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    border-radius: 10px 10px 10px 0;
    border: none;
    font-weight: 700;
}


img {
  border-radius: 50%;
}
.para {
	position: relative;
	clear: both
}
h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

/*p{
	line-height:1.5em;
	padding-bottom:1em;
}*/

.line{
	/* The dividing line: */
	height:1px;
	border-bottom:1px solid #416371;
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:white;
	margin:1.3em 0;
}

footer .line{
	margin:2em 0;
}

nav{
	padding:0 5px;
	position:absolute;
	right:0;
	top:4em;
	border:1px solid #FCFCFC;
	box-shadow:0 1px 1px #333333;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */

nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:#565656;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px white;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#f0f0f0;
}

nav, article, nav ul li a{
	/* Applying CSS3 rounded corners: */
	border-radius:20px 20px 20px 0;;
}

/* Article styles: */

#page{
	min-width: 100px;
    max-width: 950px;
	width:900px;
	margin:0 auto;
	position:relative;
}

article{
	background-color:black;
	margin:3em 0;
	padding:20px;
	color: white;
	text-shadow:0 0.4px 0 white;
	min-width: 100px;
}

.column {
  float: left;
  width: 45%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.paragraph {
	font-size: 18px;
	padding: 20px;
}
p{ 
	padding: 15px;
	font-size: 18px;

 }

figure:hover{
	box-shadow:0 0 2px #4D7788;
}

/*figure img{
	margin-right:-60px;
}*/

/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:1em;
	color: black;
}
